.settingsMobile {
  width: 100vw;
  height: calc(100vh - 6rem);
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  display: none;
  @include respond(phone) {
    display: block;
  }
  @include respond(phone-land) {
    grid-column: 3 / -1;
    width: calc(100vw - 7rem);
  }
  @include respond(phone-typing) {
    grid-column: 1 / -1;
    width: 100vw;
  }
  //background-color: rgb(42, 42, 44);

  &-links {
    background-color: rgb(42, 42, 44);
    width: 100%;
    height: 6rem;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    font-size: 1.6rem;
    //justify-content: space-around;
    .link {
      width: 100%;
      text-align: center;
      color: gray;
      padding: 1rem 0;
      transition: all 0.5s ease;
      .icon {
        width: 4rem;
        height: 4rem;
      }
      &::selection {
        color: gray;
        background-color: transparent;
      }
      &:active {
        color: #6ecf86;
        background-color: rgb(70, 69, 69);
      }
    }
  }
  &-carousel {
    width: 100vw;
    @include respond(phone-land) {
      width: calc(100vw - 7rem);
    }
    @include respond(phone-typing) {
      width: 100vw;
    }
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    transform: rotateX(180deg);

    &--profileSection {
      width: 100%;
      transform: rotateX(180deg);
      scroll-snap-align: start;
      flex-shrink: 0;
      width: 100%;
      height: calc(100vh - 12rem);

      .headingSection {
        width: 100%;
        font-size: 2.5rem;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        padding: 1.3rem 0;
        color: white;
        background-color: rgba(#171c21, 0.95);
        text-align: center;
      }

      .gallerySection {
        padding: 2rem 0;
        padding-right: 1rem;
        width: 100%;
        //height: 67vh;
        height: calc(100vh - 18rem);
        display: flex;
        flex-flow: column;
        overflow: hidden;
        overflow-y: scroll;
        align-items: center;
        @include respond(phone) {
          padding: 2rem 5vw;
        }
        @include respond(phone-land) {
          padding: 2rem 1rem;
        }
        .gallery {
          margin-top: 2rem;
          width: 100%;
          height: max-content;
          columns: 4;
          gap: 1rem;
          @include respond(tab-land) {
            columns: 3;
          }
          @include respond(tab-port) {
            columns: 2;
          }
          .SingleImage {
            background-color: black;
            position: relative;
            border-radius: 10px;
            overflow: hidden;
            margin-bottom: 1rem;
            .image {
              width: 100%;
              display: block;
              transition: all 0.25s ease;
            }
            &:hover {
              cursor: pointer;
            }
          }
        }
        .noPosts {
          font-size: 3rem;
          color: white;
        }
        /*&::-webkit-scrollbar {
          width: 7px;
        }
        &::-webkit-scrollbar-thumb {
          background: #6ecf86;
          border-radius: 5px;
        }
        &::-webkit-scrollbar-track {
          background: #505050;
        }*/
      }
      .profile-items {
        width: 100%;
        margin-top: 2rem;
        padding: 2rem 2rem;
        //background-color: cornsilk;
        display: flex;
        flex-flow: column;
        overflow: hidden;
        overflow-y: scroll;
        align-items: center;
        gap: 2rem;
        max-height: calc(100vh - 18rem);
        .photos {
          width: 100%;
          display: flex;
          flex-flow: row;
          flex-wrap: nowrap;
          justify-content: space-between;
        }
        .profilePhoto {
          &-label {
            font-size: 1.2rem;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            color: hsl(0, 0%, 61%);
          }
          &-photo {
            margin-top: 0.5rem;
            width: 30vw;
            height: 32vw;
            background-color: rgb(70, 70, 70);
            border-radius: 0.5rem;

            background-size: cover;
            background-position-x: center;
            background-position-y: center;
            display: grid;
            place-items: center;
          }
          .icon {
            color: rgb(88, 88, 88);
            width: 10rem;
            height: 10rem;
          }
        }
        .coverPhoto {
          &-label {
            font-size: 1.2rem;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            color: hsl(0, 0%, 61%);
          }
          &-photo {
            margin-top: 0.5rem;
            width: 52vw;
            height: 32vw;
            background-color: rgb(70, 70, 70);
            border-radius: 0.5rem;

            background-size: cover;
            background-position-x: center;
            background-position-y: center;
            display: grid;
            place-items: center;
          }
          .icon {
            color: rgb(88, 88, 88);
            width: 10rem;
            height: 10rem;
          }
        }
        .settings-group {
          display: flex;
          width: 100%;
          flex-flow: column;
          &-label {
            font-size: 1.2rem;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            color: hsl(0, 0%, 61%);
            width: 100%;
            display: flex;
            flex-flow: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            .icons {
              width: 10%;
              display: flex;
              flex-flow: row;
              gap: 1rem;
              justify-content: flex-end;
              align-items: center;
              .edit {
                width: 2rem;
                height: 2rem;
                &:hover {
                  cursor: pointer;
                  color: rgb(62, 130, 255);
                }
              }
              .delete {
                &:hover {
                  cursor: pointer;
                  color: rgb(221, 76, 76);
                }
              }
            }
          }
          .labelLink {
            display: block;
            .supported {
              font-size: 1.3rem;
              color: rgb(136, 136, 136);
              margin-left: 0.5rem;
            }
          }
          &-input {
            margin-top: 0.6rem;
            height: 4rem;
            width: 100%;
            background-color: rgb(70, 70, 70);
            border: 2px transparent rgb(88, 88, 88);
            border-radius: 0.5rem;
            color: rgb(168, 168, 168);
            font-size: 1.6rem;
            letter-spacing: 0.2rem;
            padding-left: 1rem;
          }
          &-input::-webkit-input-placeholder {
            color: gray;
          }

          &-input:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba(black, 0.1);
            border: 2px solid rgb(168, 168, 168);
          }
          .location-select {
            width: 30rem;
          }
          .long {
            width: 65rem;
          }
        }
        .saveBtn {
          margin-top: 2rem;
          width: max-content;
          outline: none;
          border: none;
          background-color: hsl(0, 0%, 21%);
          color: #6ecf86;
          font-size: 1.2rem;
          letter-spacing: 0.2rem;
          text-transform: uppercase;
          padding: 2rem 4rem;
          margin-bottom: 4rem;
          align-self: center;
          border-radius: 0.5rem;
          transition: all 0.1s ease;
          &:hover {
            cursor: pointer;
            transform: scale(1.05);
            background-color: hsl(0, 0%, 26%);
          }
        }
        .radios {
          display: flex;
          flex-flow: row;
          gap: 4rem;
          .radio-container {
            margin-top: 0.5rem;
            display: flex;
            flex-flow: row;
            gap: 1rem;
            align-items: center;
            font-size: 2rem;
            color: rgb(168, 168, 168);
            cursor: pointer;

            input {
              display: none;
            }
            .checkmark {
              height: 2rem;
              width: 2rem;
              border-radius: 50%;
              background-color: rgb(70, 70, 70);
              border: 2px solid rgb(168, 168, 168);
              display: grid;
              place-items: center;
              &:after {
                content: "";
                width: 0;
                height: 0;
                display: none;
              }
            }
            //   &:hover input ~ .checkmark {
            //     //background-color: rgb(168, 168, 168);
            //   }
            input:checked ~ .checkmark:after {
              display: block;
            }
            .checkmark:after {
              width: 1rem;
              height: 1rem;
              border-radius: 50%;
              background-color: rgb(168, 168, 168);
            }
          }
        }
        .link-label {
          margin-top: 0rem;
        }
        .links {
          width: 89%;
          display: flex;
          flex-flow: row;
          flex-wrap: wrap;
          gap: 2rem;
        }
        .add {
          margin-top: 1rem;
          width: 8rem;
          height: 8rem;
          border: 2px solid rgb(88, 88, 88);
          display: grid;
          place-items: center;
          cursor: pointer;
          .icon {
            color: rgb(88, 88, 88);
            height: 4rem;
            width: 4rem;
          }
          &:hover {
            border-color: #6ecf86;
          }
          &:hover .icon {
            color: #6ecf86;
          }
        }
        .btn {
          font-size: 2rem;
          color: rgb(134, 134, 134);
          text-transform: uppercase;
          word-spacing: 0.4rem;
          width: 15rem;
          height: 5rem;
          display: grid;
          place-items: center;
          background-color: black;
          border-radius: 10px;
          cursor: pointer;
          &:hover {
            color: #6ecf86;
          }
        }
      }
      .addExtraModal {
        width: 100%;
        height: calc(100vh - 12rem);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1600;
        background: rgba(0, 0, 0, 0.5);
        display: grid;
        place-items: center;
        .modal {
          width: 80%;
          height: max-content;
          background-color: rgb(43, 43, 43);
          border-radius: 10px;
          display: flex;
          flex-flow: column;
          gap: 2.5rem;
          align-items: center;
          &-heading {
            font-size: 3rem;
            padding: 2rem 4.6rem;
            width: 100%;
            border-bottom: 2px solid rgb(58, 58, 58);
            color: rgb(192, 192, 192);
          }
          &-grp {
            width: 80%;
            display: flex;
            flex-flow: column;
            &-label {
              font-size: 1.6rem;
              color: rgb(136, 136, 136);
            }
            &-confirm {
              font-size: 2.5rem;
              text-transform: none;
              color: rgb(136, 136, 136);
            }
            &-input {
              //margin-top: 0.6rem;
              margin: 0.6rem auto;
              margin-bottom: 0;
              height: 4rem;
              width: 100%;
              background-color: rgb(70, 70, 70);
              border: 2px solid rgb(88, 88, 88);
              border-radius: 10px;
              color: rgb(168, 168, 168);
              font-size: 2rem;
              padding-left: 1rem;
            }
            &-msg {
              width: 100%;
              //margin: 0.6rem auto;
              margin-top: 0.6rem;
              //height: 2rem;
              font-size: 1.6rem;
              text-transform: none;
              color: rgb(235, 97, 97);
            }
            &-input::-webkit-input-placeholder {
              color: gray;
            }

            &-input:focus {
              outline: none;
              box-shadow: 0 1rem 2rem rgba(black, 0.1);
              border: 2px solid rgb(168, 168, 168);
            }
            &-textarea {
              width: 100%;
              margin-top: 0.6rem;
              background-color: rgb(70, 70, 70);
              border: 2px solid rgb(88, 88, 88);
              border-radius: 10px;
              color: rgb(168, 168, 168);
              font-size: 2rem;
              padding: 1rem 1rem;

              &::-webkit-scrollbar {
                height: 80%;
                width: 10px;
              }

              &::-webkit-scrollbar-thumb {
                background: #1b1b1b;
                border-radius: 5px;
              }
              &::-webkit-scrollbar-thumb:hover {
                cursor: pointer;
              }
              &::-webkit-scrollbar-track {
                background: #3a3a3a;
                // background: transparent;
              }
              &::-webkit-scrollbar-corner {
                display: none;
              }
              &::-webkit-resizer {
                color: transparent;
              }
            }
            &-textarea:focus {
              outline: none;
              box-shadow: 0 1rem 2rem rgba(black, 0.1);
              border: 2px solid rgb(168, 168, 168);
            }
          }
          &-buttons {
            margin-bottom: 3rem;
            width: 80%;
            color: rgb(192, 192, 192);
            font-size: 1.5rem;
            text-transform: uppercase;
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            word-spacing: 0.4rem;
            .add-btn {
              display: grid;
              place-items: center;
              border-radius: 10px;
              padding: 1rem 0;
              width: 40%;
              background-color: black;
              &:hover {
                color: #6ecf86;
                cursor: pointer;
              }
            }
            .cancel-btn {
              display: grid;
              place-items: center;
              border-radius: 10px;
              padding: 1rem 0;
              width: 40%;
              background-color: black;
              &:hover {
                color: red;
                cursor: pointer;
              }
            }
          }
        }
        .editModal {
          .modal-buttons {
            font-size: 1.5rem;
            text-transform: uppercase;
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            word-spacing: 0.4rem;
            .add-btn {
              display: grid;
              place-items: center;
              border-radius: 10px;
              padding: 1rem 0.5rem;
              width: 30%;
              background-color: black;
              &:hover {
                color: #6ecf86;
                cursor: pointer;
              }
            }
            .cancel-btn {
              display: grid;
              place-items: center;
              border-radius: 10px;
              padding: 1rem 0.5rem;
              //padding: 1rem 2rem;
              width: 30%;
              background-color: black;
              &:hover {
                color: rgb(106, 175, 255);
                cursor: pointer;
              }
            }
            .delete-btn {
              display: grid;
              place-items: center;
              border-radius: 10px;
              padding: 1rem 0.5rem;
              width: 30%;
              background-color: black;
              &:hover {
                color: rgb(255, 106, 106);
                cursor: pointer;
              }
            }
          }
        }
      }
    }
    &::-webkit-scrollbar {
      height: 2px;
      background: rgb(70, 70, 70);
    }
    &::-webkit-scrollbar-thumb {
      height: 2px;
      background: #6ecf86;
    }
  }
}
