.explore {
  //grid-column: 2 / -1;
  grid-column: 3 / -1;
  grid-row: 3 / 4;

  display: grid;
  grid-template-rows: 1fr min-content;

  margin: auto;
  width: 95%;

  padding-top: 5rem;
}

.exploreGrid {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: min-content;
  @include respond(tab-land) {
    grid-template-columns: repeat(4, 1fr);
  }
  @include respond(tab-port) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include respond(removeImg) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include respond(phone) {
    grid-template-columns: repeat(1, 1fr);
  }
  grid-gap: 6px;
  .tagLoading {
    width: 100%;
    padding-top: 70%;
    border-radius: 1rem;
    background: linear-gradient(220deg, #141414, #666666, #111111);
    background-size: 600% 600%;
    -webkit-animation: CoverAnim 1s ease infinite;
    -moz-animation: CoverAnim 1s ease infinite;
    animation: CoverAnim 1s ease infinite;
  }
  .grid-item--exploreCard {
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    &-img {
      width: 100%;
      padding-top: 70%;
      background-size: cover;
      background-position-x: center;
      background-position-y: center;
      transition: all 0.3s ease;
    }
    &-text {
      color: white;
      font-size: 2rem;
      z-index: 1;
      transition: all 0.2s ease-in;

      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &:hover .grid-item--exploreCard-img {
      transform: scale(1.1);
    }
  }
}
.explorePage {
  background-color: black;
  grid-column: 3 / -1;
  grid-row: 3 / -1;
  padding-top: 5rem;

  margin: auto;
  width: 95%;
  min-height: 84vh;

  &--loading {
    margin-bottom: 7px;
    width: calc(100% - 10px);
    height: 30rem;
    border-radius: 1rem;
    background-color: rgb(66, 65, 65);
  }

  &--grid-item {
    margin-bottom: 7px;
    width: calc(100% - 10px);

    &--card {
      width: 100%;
      position: relative;
      border-radius: 1rem;
      overflow: hidden;

      &-img {
        filter: hue-rotate(0deg);
        width: 100%;
        transition: all 0.2s ease-in;
        border-radius: 1rem;
      }
      &-title {
        color: white;
        font-size: 2.5rem;
        z-index: 1;
        transition: all 0.2s ease-in;
        font-weight: 700;
        letter-spacing: 0.4rem;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        &:hover {
          text-decoration: none;
          color: white;
          font-size: 2.6rem;
        }
      }

      &:hover &-img {
        opacity: 0.5;
        filter: hue-rotate(90deg);
        transform: scale(1.04);
      }
    }
  }
}
