.followedList {
  grid-column: 3 / -1;
  grid-row: 3 / -1;
  @include respond(phone) {
    grid-column: 1 / -1;
  }
  width: 100%;
  height: min-content;
  padding: 2rem 0;
}
.noFollowing {
  text-align: center;
  grid-column: 3 / -1;
  grid-row: 3 / -1;
  @include respond(phone) {
    grid-column: 1 / -1;
  }
  width: 100%;
  height: min-content;
  margin: 5rem 0;
  color: white;
  font-size: 3rem;
}

.followed {
  width: 95%;
  height: min-content;
  //background-color: rgb(83, 83, 83);
  margin: 4rem auto;

  display: flex;
  flex-flow: column;
  border-bottom: 2px solid rgb(66, 66, 66);
  &:last-child {
    border: none;
  }
  .user {
    position: relative;
    height: 7rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: appear 0.5s linear forwards;
    .userImg {
      position: absolute;
      top: 50%;
      left: 0.5rem;
      transform: translateY(-50%);

      width: 6rem;
      height: 6rem;
      background-size: cover;
      // background-position-x: center;
      // background-position-y: center;
      background-position: center;
    }
    .username {
      position: absolute;
      top: 0.5rem;
      left: 7.5rem;
      color: white;
      font-size: 2.5rem;
      letter-spacing: 0.3rem;
      &:hover {
        cursor: pointer;
      }
    }
    .userFollowers {
      position: absolute;
      top: 4rem;
      left: 7.5rem;
      color: hsl(0, 0%, 79%);
      font-size: 1.6rem;
    }
  }
  .userNotLoaded {
    position: relative;
    height: 7rem;
    margin-bottom: 2rem;
    .userImg {
      position: absolute;
      top: 50%;
      left: 0.5rem;
      transform: translateY(-50%);

      width: 6rem;
      height: 6rem;
      background-color: #3a3a3ab7;
      animation: pulse 2s linear infinite;
    }
    .username {
      position: absolute;
      top: 0.5rem;
      left: 7.5rem;
      height: 3.5rem;
      width: 10rem;
      background-color: #3a3a3ab7;
      animation: pulse 2s linear infinite;
    }
    .userFollowers {
      position: absolute;
      top: 4.7rem;
      left: 7.5rem;
      height: 1.6rem;
      width: 10rem;
      background-color: #3a3a3ab7;
      animation: pulse 2s linear infinite;
    }
  }
  .slider {
    position: relative;
    margin-bottom: 5rem;
    width: 100%;
    overflow: hidden;
    display: flex;

    .leftButton {
      z-index: 2;
      position: absolute;
      left: 1rem;
      top: 50%;
      transform: translateY(-50%);
      height: 4.5rem;
      width: 4.5rem;
      border-radius: 50%;
      background-color: rgb(99, 99, 99);
      display: grid;
      place-items: center;
      .icon {
        color: white;
        width: 4rem;
        height: 4rem;
      }
      opacity: 0.4;
      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }
    .rightButton {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      height: 4.5rem;
      width: 4.5rem;
      border-radius: 50%;
      background-color: rgb(99, 99, 99);
      display: grid;
      place-items: center;
      .icon {
        color: white;
        width: 4rem;
        height: 4rem;
      }
      opacity: 0.4;
      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }
    .followedItems {
      display: flex;
      flex-flow: row;
      gap: 1rem;
      overflow-x: scroll;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
      &::-webkit-scrollbar {
        display: none;
      }
      .item {
        scroll-snap-align: start;
        height: 20rem;
        width: max-content;
        border-radius: 5px;
        background-color: black;
        position: relative;
        opacity: 0;
        animation: appear 0.5s linear forwards;
        .img {
          height: 20rem;
          border-radius: 10px;
          display: block;
          &::selection {
            color: transparent;
            background: transparent;
          }
        }
        .imgInfo {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          padding: 1rem 1.5rem;
          display: flex;
          flex-flow: column;
          color: white;
          opacity: 0;
          .name {
            font-size: 2rem;
            //letter-spacing: 0.2rem;
            &:hover {
              cursor: pointer;
            }
          }
          .others {
            font-size: 1.6rem;
            display: flex;
            column-gap: 1rem;
            flex-flow: row;
            flex-wrap: wrap;
            color: hsl(0, 0%, 82%);
          }
        }

        &:hover .img {
          opacity: 0.6;
        }
        &:hover .imgInfo {
          opacity: 1;
        }
      }
      .itemNotLoaded {
        scroll-snap-align: start;
        height: 20rem;
        width: 30rem;
        border-radius: 5px;
        background-color: #666666;
      }
    }
    .followedItems-notLoaded {
      height: 20rem;
      width: 100%;
      background-color: #3a3a3ab7;
      animation: pulse 2s linear infinite;
    }
  }
}
