#fileInput {
  display: none;
}
.addExtrasModal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1600;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  @include respond(phone) {
    height: calc(100vh - 12rem);
  }
  @include respond(phone-land) {
    height: calc(100vh - 12rem);
  }

  .modal {
    width: 65rem;
    height: max-content;
    background-color: rgb(43, 43, 43);
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    gap: 2.5rem;
    align-items: center;
    @include respond(phone) {
      width: 90vw;
    }
    @include respond(phone-land) {
      width: 85vw;
      height: calc(100vh - 12rem);
    }
    &-heading {
      font-size: 3rem;
      padding: 2rem 4rem;
      width: 100%;
      border-bottom: 2px solid rgb(58, 58, 58);
      color: rgb(192, 192, 192);
      @include respond(phone) {
        font-size: 2rem;
        padding: 1.5rem 4rem;
        display: grid;
        place-items: center;
      }
      @include respond(phone-land) {
        font-size: 2rem;
        padding: 1rem 4rem;
        display: grid;
        place-items: center;
      }
    }
    &-form {
      width: 55rem;
      display: flex;
      flex-flow: column;
      gap: 2rem;
      @include respond(phone) {
        width: 80vw;
      }
      @include respond(phone-land) {
        width: 80vw;
        overflow: hidden;
        overflow-y: scroll;
        align-items: center;
      }
    }
    &-buttons {
      margin-bottom: 3rem;
      width: 55rem;
      color: rgb(192, 192, 192);
      font-size: 2rem;
      text-transform: uppercase;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      word-spacing: 0.4rem;
      @include respond(phone) {
        width: 100%;
      }
      .add-btn {
        border: none;
        color: rgb(192, 192, 192);
        font-size: 2rem;
        text-transform: uppercase;
        display: grid;
        place-items: center;
        border-radius: 10px;
        padding: 1.2rem 2rem;
        width: 25rem;
        background-color: black;
        @include respond(phone) {
          width: 45%;
        }
        &:hover {
          color: #6ecf86;
          cursor: pointer;
        }
      }
      .cancel-btn {
        display: grid;
        place-items: center;
        border-radius: 10px;
        padding: 1rem 2rem;
        width: 25rem;
        background-color: black;
        @include respond(phone) {
          width: 45%;
        }
        &:hover {
          color: red;
          cursor: pointer;
        }
      }
    }
    &-sliders {
      width: 55rem;
      display: flex;
      flex-flow: column;
      @include respond(phone) {
        width: 100%;
      }

      .inputSlider {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
        @include respond(phone) {
          width: 100%;
        }
        &--label {
          color: rgb(192, 192, 192);
          @include respond(phone) {
            font-size: 1.6rem;
            width: 50%;
          }
        }
        &--slider {
          width: 30rem;
          @include respond(phone) {
            width: 50%;
          }
        }
      }
    }
    &-photo {
      width: 55rem;
      height: max-content;
      padding: 2rem 0;
      min-height: 30rem;
      border-radius: 10px;
      border: dashed 2px rgb(98, 98, 98); ///#6ecf86;
      display: grid;
      place-items: center;

      @include respond(phone) {
        width: 100%;
      }
      @include respond(phone-land) {
        width: 80%;
      }
      canvas {
        width: 35rem !important;
        height: 35rem !important;
        @include respond(phone) {
          width: 65vw !important;
          height: 65vw !important;
        }
        @include respond(phone-land) {
          width: 50vh !important;
          height: 50vh !important;
        }
      }
      &-img {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
          rgba(0, 0, 0, 0.22) 0px 10px 10px;
        max-width: 52rem;
        max-height: 30rem;
        @include respond(phone) {
          max-width: 90%;
          max-height: 30vh;
        }
      }

      .uploadLabel {
        display: flex;
        flex-flow: column;
        gap: 2rem;
        align-items: center;
        .uploadIcon {
          width: 10rem;
          height: 10rem;
          color: rgb(98, 98, 98);
        }
        .uploadText {
          font-size: 1.5rem;
          font-weight: 700;
          letter-spacing: 0.3rem;
          color: rgb(98, 98, 98);
        }
        &:hover,
        &:hover .uploadIcon,
        &:hover .uploadText {
          color: #6ecf86;
          cursor: pointer;
        }
      }
    }
    &-loader {
      border: 16px solid #dadada; /* Light grey */
      border-top: 16px solid #0e0e0e;
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
      animation: spin 2s linear infinite;
    }
  }
}

.loginToggle {
  margin-top: 6rem;
  align-self: center;
  font-size: 3rem;
  background-color: rgb(34, 34, 34);
  width: 30vw;
  height: 6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  justify-content: center;
  margin-bottom: 4rem;
  border-radius: 10px;
  .loginText {
    grid-column: 1 /2;
    text-align: center;
    padding: 0.8rem 0;
    transition: all 0.7s ease;
    &:hover {
      cursor: pointer;
    }
  }
  .signupText {
    grid-column: 2 /-1;
    text-align: center;
    padding: 0.8rem 0;
    transition: all 0.7s ease;
    &:hover {
      cursor: pointer;
    }
  }
}
.form {
  text-align: center;
  margin-bottom: 4rem;
}
.login {
  .loginText {
    color: #6ecf86;
    transition: all 1s ease;
  }
  &::after {
    content: "";
    background-color: #6ecf86;
    transform: translateX(0vw);
    transition: all 0.4s ease;
  }
}
.signup {
  .signupText {
    color: #6ecf86;
    transition: all 1s ease;
  }
  &::after {
    content: "";
    background-color: #6ecf86;
    transform: translateX(15vw);
    transition: all 0.4s ease;
  }
}
.loginModal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1600;
  //font-size: 7rem;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitForm {
  transition: all 0.3s ease;
  display: flex;
  flex-flow: column;
  align-items: center;
  color: white;
  width: 50%;
  @include respond(tab-land) {
    width: 70%;
  }
  height: 80%;
  background-color: rgb(43, 43, 43);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  flex-wrap: nowrap;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    background: #3e3f3e;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}
.closeIcon {
  transition: all 0.3s ease;
  position: fixed;
  top: 11vh;
  right: 25.5%;
  @include respond(tab-land) {
    right: 16%;
  }
  color: #6ecf86;
  &:hover {
    cursor: pointer;
  }
  .Icon {
    width: 6rem;
    height: 6rem;
  }
}

.uploadIcon {
  color: #6ecf86;
  &:hover {
    cursor: pointer;
  }
  .Icon {
    width: 6rem;
    height: 6rem;
  }
}
.uploadText {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  color: #6ecf86;
}
