.LoginModal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1600;
  display: grid;
  place-items: center;

  &-outside {
    z-index: 1601;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
  }
  &-body {
    z-index: 1602;
    width: 50%;
    height: 55rem;
    //new
    animation: gradient 15s ease infinite;
    background: linear-gradient(-45deg, #030303, #292929, #525252, #6e6e6e);
    background-size: 400% 400%;
    ///new end
    ///background-color: rgb(218, 148, 148);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    @include respond(phone) {
      width: 95%;
    }
    @include respond(phone-land) {
      width: 80%;
      height: 90vh;
    }

    &-login {
      background: linear-gradient(-45deg, #030303, #2c2c2c, #383838, #4b4b4b);
      background-size: 400% 400%;
      transition: all 1s;
      @include respond(phone) {
        background: linear-gradient(-45deg, #da7050, #c53d71, #2293bd, #22be9a);
        background-size: 400% 400%;
      }
    }
    &-signup {
      background: linear-gradient(-45deg, #030303, #2c2c2c, #383838, #4b4b4b);
      background-size: 400% 400%;
      @include respond(phone) {
        background: linear-gradient(-45deg, #da7050, #c53d71, #2293bd, #22be9a);
        background-size: 400% 400%;
      }
    }
    &-img {
      width: 50%;
      height: 100%;
      //background-color: wheat;
      position: relative;
      overflow: hidden;
      @include respond(phone) {
        display: none;
      }
      @include respond(phone-land) {
        display: block;
        width: 35%;
      }

      .text {
        position: absolute;
        bottom: 0;
        //top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        height: 50%;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        flex-flow: column;
        justify-content: center;
        text-transform: none;
        padding: 0 3.5rem;

        .content1 {
          display: block;
          font-size: 4.5rem;
          font-weight: 600;
          letter-spacing: 0.4rem;
          color: #6ecf86;
          @include respond(phone-land) {
            font-size: 4rem;
          }
        }
        .content2 {
          display: block;
          font-size: 2.5rem;
          font-weight: 400;
          letter-spacing: 0.3rem;
          color: white;
          @include respond(phone-land) {
            font-size: 2rem;
          }
        }
      }
      .carousel {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
        width: 100%;
        height: 100%;
        //background-color: rgb(44, 44, 44);
        background-color: transparent;
        .carouselItem {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-size: cover;
          background-position-x: center;
          background-position-y: center;
          opacity: 0;
          //transition: opacity 0.5s linear;
          animation: Fade 25s linear infinite;
        }
        .item1 {
          background-image: url("../src/tagImage/sunset.jpg");
          // animation: FormAnimationItem1 3s linear infinite;
        }
        .item2 {
          background-image: url("../src/tagImage/fanart.jpg");
          animation-delay: 5s;
        }
        .item3 {
          background-image: url("../src/tagImage/old.jpg");
          animation-delay: 10s;
        }
        .item4 {
          background-image: url("../src/tagImage/waterColor.jpg");
          animation-delay: 15s;
        }
        .item5 {
          background-image: url("../src/tagImage/cubism.jpg");
          animation-delay: 20s;
        }
      }
    }
    &-form {
      width: 50%;
      height: 100%;
      ///background-color: rgb(44, 44, 44);
      background-color: transparent;
      display: flex;
      flex-flow: column;
      @include respond(phone) {
        width: 100%;
      }
      @include respond(phone-land) {
        width: 65%;
      }
      .heading {
        position: relative;
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        //color: rgb(173, 173, 173);
        font-size: 3rem;
        letter-spacing: 0.3rem;
        text-align: center;
        // padding: 2rem 0;
        //border-bottom: 2px solid rgb(90, 90, 90);
        .login {
          padding: 2rem 0;
          //border-bottom: 2px solid rgb(90, 90, 90);
          color: #6ecf86;
          border-right: 1px solid rgb(80, 80, 80);
          width: 50%;
          cursor: pointer;
          transition: all 0.5s ease;
        }
        .signup {
          padding: 2rem 0;
          //border-bottom: 2px solid rgb(90, 90, 90);
          color: #6ecf86;

          border-left: 1px solid rgb(80, 80, 80);
          width: 50%;
          cursor: pointer;
          transition: all 0.5s ease;
        }
        .notCurrent {
          background-color: rgb(34, 34, 34);
          color: rgb(173, 173, 173);
          transition: all 0.5s ease;
        }
        &::after {
          position: absolute;
          bottom: 0;
          content: "";
          height: 2px;
          width: 50%;
          background-color: rgb(80, 80, 80);
          transition: all 0.3s ease;
        }
        &-signup::after {
          transform: translateX(100%);
          transition: all 0.3s ease;
        }
        &::before {
          position: absolute;
          top: 0;
          right: 0;
          content: "";
          height: 2px;
          width: 50%;
          background-color: rgb(80, 80, 80);
          transition: all 0.3s ease;
        }
        &-signup::before {
          transform: translateX(-100%);
          transition: all 0.3s ease;
        }
      }
      .loginForm {
        margin: 5rem 4rem;
        display: grid;
        place-items: center;
        .form {
          width: 100%;
        }
      }
      .signupForm {
        margin: auto 0;
        padding: 0 3rem;
        display: grid;
        place-items: center;
        overflow: hidden;
        overflow-y: scroll;
        .form {
          width: 100%;
        }
      }
    }
  }
}
