.main {
  background-color: black;
  //grid-column: 2 / -1;
  grid-column: 3 / -1;
  grid-row: 4 / -1;

  //overflow: hidden;
  padding-top: 5rem;

  margin: auto;
  width: 95%;

  display: grid;
  grid-template-rows: 1fr min-content;
}

.subHeading {
  color: white;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.grid-item {
  margin-bottom: 7px;
  width: calc(100% - 10px);

  &--card {
    width: 100%;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;

    &-img {
      width: 100%;
      transition: all 0.2s ease-in;
      border-radius: 1rem;
    }
    &-title {
      color: white;
      font-size: 2.5rem;
      z-index: 1;
      transition: all 0.2s ease-in;

      &:hover {
        text-decoration: none;
        color: white;
        font-size: 2.6rem;
      }
    }
    &-author {
      color: white;
      font-size: 2rem;
      z-index: 1;
      transition: all 0.2s ease-in;

      &:hover {
        text-decoration: none;
        color: white;
        font-size: 2.1rem;
      }
    }

    &-img-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      display: grid;
      grid-template-rows: repeat(2, 1fr);
    }
    &-textualInfo {
      display: grid;
      grid-template-rows: max-content max-content;
      opacity: 0;
      padding-left: 2rem;
      padding-top: 1rem;
    }
    &-icons {
      padding-left: 2rem;
      padding-bottom: 2rem;

      color: white;
      display: grid;
      grid-template-columns: max-content max-content;
      align-items: end;
      grid-gap: 2rem;

      opacity: 0;
      //position: absolute;
      //bottom: 100%;
      &-likes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        &-count {
          font-size: 2rem;
          justify-self: center;
        }
        &-icon {
          align-self: center;

          &:hover {
            color: red;
            cursor: pointer;
          }
        }
      }
      &-comments {
        display: grid;
        grid-template-columns: 1fr 1fr;
        &-count {
          font-size: 2rem;
          justify-self: center;
        }
        &-icon {
          align-self: end;
          &:hover {
            color: rgb(115, 194, 138);
            cursor: pointer;
          }
        }
      }
    }
    &:hover &-textualInfo {
      opacity: 1;
    }
    &:hover &-img {
      opacity: 0.6;
      transform: scale(1.04);
    }
    &:hover &-icons {
      opacity: 1;
    }
  }
}
