.postPage {
  grid-column: 3/ -1;
  grid-row: 2 / -1;
  padding-top: 5rem;
  //margin: auto;
  width: 100%;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(19, 1fr);
  //grid-template-rows: 40vh 40vh max-content;
  grid-template-rows: repeat(5, max-content);
  color: white;
  @include respond(phone) {
    grid-column: 1 / -1;
  }

  .postContent {
    grid-column: 1 / 15;
    @include respond(tab-land) {
      grid-column: 1 / -1;
    }
    grid-row: 1 / 3;
    background-color: #2e2e2e;

    &--image {
      display: grid;
      place-items: center;
      background-color: #3f3f3f;
      padding: 2rem 0;
      width: 100%;
      //height: 33vw;
      height: 72.5vh;
      @include respond(tab-land) {
        //height: 45vw;
        //height: 80vh;
        height: 400px;
      }
      @include respond(phone) {
        //height: 75vw;
        //height: 95vh;
        height: 300px;
      }
      &-img {
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
          rgba(0, 0, 0, 0.22) 0px 10px 10px;
        width: auto;
        //height: 100%;
        max-width: 90%;
        //max-height: 100%;
        max-height: 65vh;
        @include respond(tab-land) {
          max-height: 350px;
        }
        @include respond(phone) {
          max-height: 250px;
        }
      }
    }

    &--info {
      padding: 3rem 9rem;
      background-color: rgb(44, 44, 44);
      width: 100%;
      @include respond(tab-land) {
        padding: 3rem 5rem;
      }

      display: flex;
      flex-flow: column;

      &-menu {
        position: relative;
        align-self: flex-end;
        text-align: end;
        cursor: pointer;

        .menu-icon {
          width: 4rem;
          height: 4rem;
        }
        &-dropdown {
          visibility: hidden;
          position: absolute;
          top: 106%;
          right: 5%;
          width: 30rem;
          background-color: rgb(36, 36, 36);

          display: flex;
          flex-flow: column;
          align-items: flex-start;

          .menu-item {
            padding: 1rem 3rem;
            align-self: stretch;
            text-align: left;
            z-index: 19;
            font-size: 2rem;

            &:hover {
              //color: rgb(114, 194, 114);
              background-color: rgb(105, 102, 102);
            }
          }
        }
        &:hover .postContent--info-menu-dropdown {
          visibility: visible;
        }
      }

      /*&-author {
        display: grid;
        grid-template-rows: min-content max-content;
        grid-template-columns: max-content max-content;
        &-img {
          grid-column: 1/ 2;
          grid-row: 1 / 3;
        }
        &-title {
          padding-left: 2.5rem;
          font-size: 4rem;
          align-self: start;
        }
        &-name {
          padding-left: 2.5rem;
          font-size: 2rem;
        }
      }*/
      &-author {
        display: flex;
        flex-flow: column;
        gap: 1rem;
        &-title {
          font-size: 4rem;
          align-self: start;
        }
        &-detail {
          display: flex;
          flex-flow: row;
          gap: 1rem;
          .userImg {
            width: 5rem;
            height: 5rem;
            background-size: cover;
            background-position-x: center;
            background-position-y: center;
          }
          .name {
            font-size: 3rem;
          }
        }
      }

      &-icons {
        position: relative;
        padding: 3rem 0;
        display: flex;
        @include respond(phone) {
          flex-flow: column;
          gap: 0.7rem;
        }
        &-like {
          padding-right: 5rem;
          font-size: 2.4rem;
          display: flex;
          gap: 1rem;
          align-items: center;
        }
      }

      &-desc {
        font-size: 2rem;
      }

      &-tags {
        padding-top: 3rem;
        font-size: 2rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        .tag {
          cursor: pointer;
          background-color: rgb(65, 65, 65);
          padding: 0.6rem 1.5rem;
          letter-spacing: 0.3rem;
          border-radius: 5px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
            rgba(0, 0, 0, 0.05) 0px 5px 10px;
          &:hover {
            transform: scale(1.03);
            transition: all 0.3s ease;
          }
        }
      }
    }

    &--comments {
      grid-column: 1 / 15;
      grid-row: 3 / -1;
      min-height: 30rem;

      padding: 2rem 9rem;

      @include respond(tab-land) {
        grid-column: 1 / 13;
        padding: 2rem 5rem;
      }
      @include respond(phone) {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
      }
      background-color: rgb(37, 37, 37);

      .subheading {
        font-size: 3rem;
      }
      &-commentList {
        margin-top: 2rem;
      }

      /*&-comment {
        padding: 1rem 0;
        display: grid;
        column-gap: 1rem;
        grid-template-rows: repeat(3, min-content);
        grid-template-columns: repeat(16, 1fr);
        &-img {
          grid-row: 1 / 3;
          grid-column: 1 / 2;
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
        }
        &-user {
          grid-row: 1 / 2;
          grid-column: 2 / 13;
          font-size: 2rem;
          align-self: center;
        }
        &-date {
          grid-row: 1 / 2;
          grid-column: 14 / -1;
          font-size: 1.2rem;
          justify-self: end;
        }
        &-text {
          grid-row: 2 / 3;
          grid-column: 2 / -1;
          font-size: 1.5rem;
          //white-space: pre;
          word-wrap: break-word;
        }
        &-controls {
          grid-row: 3 / 4;
          grid-column: 2 / -1;

          .control {
            font-size: 1.5rem;
            margin-right: 2rem;
            cursor: pointer;
          }
        }
      }*/
      &-comment {
        padding: 1rem 0;
        display: flex;
        flex-flow: column;
        gap: 0.5rem;
        &-top {
          display: flex;
          flex-flow: row;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: space-between;
          gap: 0.5rem;
        }
        &-user {
          display: flex;
          flex-flow: row;
          flex-wrap: nowrap;
          align-items: center;
          gap: 0.5rem;
        }
        &-img {
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
        }
        &-Img {
          width: 3rem;
          height: 3rem;
          background-size: cover;
          background-position-x: center;
          background-position-y: center;
        }
        &-usertext {
          font-size: 2rem;
          align-self: center;
        }
        &-date {
          font-size: 1.2rem;
        }
        &-bottom {
          display: flex;
          flex-flow: column;
          gap: 0.5rem;
        }
        &-text {
          font-size: 1.5rem;
          //white-space: pre;
          word-wrap: break-word;
        }
        &-controls {
          .control {
            font-size: 1.5rem;
            margin-right: 2rem;
            cursor: pointer;
          }
        }
      }
    }
  }

  .otherContent {
    grid-column: 15 / -1;
    grid-row: 1 / -1;
    @include respond(tab-land) {
      grid-column: 13 / -1;
      grid-row: 3 / -1;
    }
    @include respond(phone) {
      grid-column: 1 / -1;
      grid-row: 4 / -1;
    }
    background-color: rgb(27, 27, 27);
    display: grid;
    grid-template-rows: repeat(2, max-content);
    margin: 0 auto;

    &--subheading {
      font-size: 2rem;
      letter-spacing: 0.3rem;
    }
    &--user {
      justify-self: start;
      padding: 1.5rem 1.5rem;
    }
    &--recommend {
      justify-self: start;
      padding: 1.5rem 1.5rem;
    }

    /*&--thumbnails {
      padding-top: 2rem;
      display: grid;
      grid-template-rows: repeat(3, min-content);
      grid-template-columns: repeat(3, min-content);
      gap: 1rem;

      &-img {
        width: 7vw;
        height: 7vw;
        @include respond(tab-land) {
          width: 8.5vw;
          height: 8.5vw;
        }
        @include respond(phone) {
          width: 22vw;
          height: 22vw;
        }
      }
    }*/
    &--loading {
      margin-top: 2rem;
      width: calc(7vw * 3 + 2rem);
      height: calc(7vw * 3 + 2rem);
      @include respond(tab-land) {
        width: calc(8.5vw * 3 + 2rem);
        height: calc(8.5vw * 3 + 2rem);
      }
      @include respond(phone) {
        width: calc(22vw * 3 + 2rem);
        height: calc(22vw * 3 + 2rem);
      }
      border: 1rem solid #666666;
      background: linear-gradient(220deg, #141414, #666666, #111111);
      background-size: 300% 300%;
      -webkit-animation: CoverAnim 1s ease infinite;
      -moz-animation: CoverAnim 1s ease infinite;
      animation: CoverAnim 1s ease infinite;

      display: grid;
      place-items: center;
      font-size: 4rem;
      letter-spacing: 0.3rem;
    }
    &--Thumbnails {
      padding-top: 2rem;
      display: grid;
      grid-template-rows: repeat(3, min-content);
      grid-template-columns: repeat(3, min-content);
      gap: 1rem;

      &-img {
        cursor: pointer;
        width: 7vw;
        height: 7vw;
        background-color: #666666;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        @include respond(tab-land) {
          width: 8.5vw;
          height: 8.5vw;
        }
        @include respond(phone) {
          width: 22vw;
          height: 22vw;
        }
      }
    }
  }
}

.menu-item:hover {
  cursor: pointer;
  color: #6ecf86;
  transition: all 0.25s ease;
}
.author-image {
  width: 8rem;
  height: 8rem;
}
.comment-photo {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
