.submitModal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  //font-size: 7rem;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitForm {
  display: flex;
  flex-flow: column;
  align-items: center;
  color: white;
  width: 50%;
  height: 80%;
  background-color: rgb(43, 43, 43);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  flex-wrap: nowrap;
  overflow-y: scroll;
  //scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    background: #3e3f3e;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &-title {
    font-size: 2rem;
    font-family: inherit;
    letter-spacing: 0.4rem;
    color: inherit;
    padding: 0 1rem;
    padding-top: 1rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgba(black, 0.5);
    border: none;
    border-bottom: 2px solid black;
    //width: 100%;
    width: 30vw;
    height: 5rem;
    display: block;
    transition: all 0.4s;
    margin-bottom: 2.5rem;
    &::-webkit-input-placeholder {
      color: rgb(255, 244, 244);
    }
    &:focus {
      outline: none;
      border-bottom: 2px solid red;
    }
  }

  &-imgHolder {
    width: 100%;
    height: 30rem;
    border-radius: 10px;
    margin-bottom: 2.5rem;
    border: dashed 2px rgb(77, 155, 77);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    label {
      cursor: pointer;
      padding: 0.8rem 0;
    }
  }

  &-image {
    text-align: center;
    background-color: #3f3f3f;
    padding: 2rem 2rem;
    width: 100%;
    height: 30rem;
    border-radius: 10px;
    margin-bottom: 2.5rem;
    border: dashed 2px rgb(77, 155, 77);
    overflow: hidden;

    img {
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
      width: auto;
      height: 100%;
    }
  }

  &-desc {
    font-size: 2rem;
    font-family: inherit;
    letter-spacing: 0.4rem;
    color: inherit;
    padding: 1.5rem 1rem;
    padding-bottom: 0.4rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgba(black, 0.5);
    border: none;
    border-bottom: 2px solid black;
    //width: 100%;
    width: 30vw;
    display: block;
    transition: all 0.4s;
    margin-bottom: 2.5rem;
    &::-webkit-input-placeholder {
      color: rgb(255, 244, 244);
    }
    &:focus {
      outline: none;
      border-bottom: 2px solid red;
    }
  }
}
.closeIcon {
  align-self: flex-end;
  color: rgb(77, 155, 77);
  &:hover {
    cursor: pointer;
  }
  .Icon {
    width: 6rem;
    height: 6rem;
  }
}

.uploadIcon {
  color: rgb(77, 155, 77);
  &:hover {
    cursor: pointer;
  }
  .Icon {
    width: 6rem;
    height: 6rem;
  }
}
.uploadText {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  color: rgb(77, 155, 77);
}

#fileInput {
  display: none;
}
