.userPage {
  grid-column: 3/ -1;
  grid-row: 2 / -1;
  //display: flex;
  //flex-flow: column;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  background-color: rgb(22, 22, 22) 100%;
  @include respond(phone) {
    grid-column: 1 / -1;
  }

  &--background {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    position: sticky;
    top: 6rem;
    left: 0;
    height: 70vh;
    background-image: url("./tagImage/snow.jpg");
    background-size: cover;
    z-index: 1;
    background-position-x: center;
    background-position-y: center;
    @include respond(phone) {
      height: 35vh;
    }
  }
  .noCover {
    background: linear-gradient(-45deg, #ec7956, #e64080, #21a6d6, #25d3aa);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
  &--top {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    height: 70vh;
    width: 100%;
    background-color: rgb(22, 22, 22) 100%;
    background: linear-gradient(
      to bottom,
      transparent 35%,
      rgba(48, 48, 48, 0.336) 70%,
      rgb(22, 22, 22) 100%
    );
    z-index: 2;
    position: relative;
    @include respond(phone) {
      height: 35vh;
    }

    &-user {
      position: absolute;
      top: 33vh;
      left: 9vw;

      display: grid;
      grid-template-rows: min-content min-content;
      grid-template-columns: max-content max-content;
      @include respond(phone) {
        top: 50%;
        left: 2.5%;
      }
      @include respond(phone-land) {
        top: 25%;
        left: 2.5%;
      }

      &-img {
        grid-row: 1 / 3;
        grid-column: 1 / 2;
        width: 14rem;
        height: 14rem;
        z-index: 1;

        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        @include respond(phone) {
          width: 10rem;
          height: 10rem;
        }
      }
      &-imgOverlay {
        grid-row: 1 / 3;
        grid-column: 1 / 2;
        width: 14rem;
        height: 14rem;
        z-index: 2;
        background-color: transparent;
        color: transparent;
        font-size: 2rem;
        letter-spacing: 0.3rem;
        transition: 0.2s ease;
        text-align: center;
        padding-top: 30%;
        @include respond(phone) {
          width: 10rem;
          height: 10rem;
          font-size: 1.5rem;
        }

        &:hover {
          background-color: rgba(37, 37, 37, 0.7);
          color: white;
          cursor: pointer;
        }
      }
      &-name {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        align-self: center;

        padding-left: 2rem;
        color: white;
        font-size: 4.5rem;
        font-weight: 700;
        @include respond(phone) {
          font-size: 3rem;
        }
      }
      &-info {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        align-self: flex-start;

        padding-left: 2rem;
        color: white;
        font-size: 3rem;
        @include respond(phone) {
          font-size: 2rem;
        }
      }
    }

    &-menu {
      position: absolute;
      bottom: 0;
      left: 8vw;

      color: white;
      letter-spacing: 0.3rem;
      padding: 1rem 0;
      @include respond(phone) {
        left: 0;
        right: 0;
        display: flex;
        flex-flow: row;
        width: 95%;
        margin: 0.5rem auto;
        justify-content: space-between;
      }
      @include respond(phone-land) {
        left: 0;
        right: 0;
        display: flex;
        flex-flow: row;
        width: 95%;
        margin: 0.5rem auto;
        justify-content: space-between;
      }

      .menu-item {
        font-size: 3.3rem;
        //font-size: clamp(2rem, 50vw, 4rem);
        padding: 0 5rem;
        transition: font-size 0.3s ease;
        @include respond(phone) {
          padding: 0;
          font-size: 3rem;
        }
      }
    }

    &-cover {
      opacity: 0.8;
      position: absolute;
      bottom: 8vh;
      right: 4vw;
      color: white;
      font-size: 2.5rem;
      background-color: rgb(59, 59, 59);
      padding: 1rem 1.5rem;
      border-radius: 2rem;
      transition: 0.15s ease-in;
      @include respond(phone) {
        display: none;
      }
      &:hover {
        opacity: 1;
        cursor: pointer;
        color: #6ecf86;
      }
    }
  }
  &--main {
    grid-row: 2 / 3;
    width: 100%;
    background-color: rgb(22, 22, 22);
    z-index: 2;
    margin-top: -2px;
  }
  &--home {
    display: grid;
    grid-template-rows: repeat(3, max-content);
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    align-items: center;
    margin: 0 auto;
    width: 95%;
    //margin-left: 5rem;
    @include respond(phone) {
      margin: 0 auto;
      width: 95%;
      display: flex;
      flex-flow: column;
    }

    .subheading {
      font-size: 2.4rem;
      color: white;
      letter-spacing: 0.3rem;
    }
    .aboutName {
      font-size: 2.8rem;
      font-weight: 700;
      letter-spacing: 0.3rem;
    }

    &-about {
      align-self: start;
      margin: 2.5rem 0;
      grid-row: 1 / 2;
      grid-column: 2 / -1;
      width: 100%;
      //height: 30rem;
    }
    &-aboutInfo {
      background-color: #3b3b3b;
      min-height: 55rem;
      font-size: 2rem;
      color: rgb(221, 221, 221);
      text-transform: none;
      letter-spacing: 0.3rem;
      padding: 2rem 3rem;
      display: flex;
      flex-flow: column;
      &-item {
        margin: 1.5rem 0;
      }
      .group-column {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        column-gap: 4rem;
        .item {
          margin: 0.25rem 0;
          display: flex;
          flex-flow: row;
          flex-wrap: nowrap;
          align-items: center;
          column-gap: 0.8rem;
        }
      }
      .group-row {
        display: flex;
        flex-flow: column;
        .item {
          margin: 0.5rem 0;
          justify-content: center;
          display: flex;
          column-gap: 0.8rem;
          align-self: flex-start;
          align-items: center;
        }
      }
      .aboutIcon {
        color: rgb(134, 134, 134);
      }
    }

    &-spotlight {
      align-self: start;
      margin: 2.5rem 0;
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      .spotlight {
        width: 100%;
        height: 55rem;
        background-color: black;
        display: grid;
        grid-template-rows: 90% 10%;
        @include respond(phone) {
          width: 100%;
        }
        .spotlight-image {
          background-color: #3b3b3b;
          display: flex;
          align-items: center;
          justify-content: center;
          .img-landscape {
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
              rgba(0, 0, 0, 0.22) 0px 10px 10px;

            height: auto;
            max-width: 90%;
            max-height: 90%;
          }
        }
        .spotlight-info {
          grid-row: 2 / -1;
          background-color: #292929;
          color: white;
          display: flex;
          justify-content: space-between;
          align-items: center;
          &-name {
            font-size: 2rem;
            letter-spacing: 0.3rem;
            margin-left: 1rem;
            &:hover {
              cursor: pointer;
            }
          }
          &-actions {
            font-size: 1.8rem;
            margin: 0 2rem;
            display: flex;
            flex-flow: row;
            gap: 3rem;
            &-like {
              display: flex;
              align-items: center;
            }
            &-comment {
              display: flex;
              align-items: center;
            }
          }
          .infoIcon {
            font-size: 2rem;
            margin-right: 0.8rem;
          }
        }
      }
    }

    &-posts {
      margin-top: 4rem;
      grid-row: 2 / 3;
      grid-column: 1 / -1;
      display: flex;
      flex-flow: column;
      row-gap: 5rem;
      margin-bottom: 6rem;
    }

    .popular {
      width: 100%;
      //margin-top: 4rem;
      //grid-row: 2 / 3;
      //grid-column: 1 / -1;
      &-slider {
        margin-top: 1.6rem;
        position: relative;
        width: 100%;
        @include respond(phone) {
          width: 95vw;
        }

        overflow: hidden;
        display: flex;
        &-leftButton {
          z-index: 2;
          position: absolute;
          left: 1rem;
          top: 50%;
          transform: translateY(-50%);
          height: 4.5rem;
          width: 4.5rem;
          border-radius: 50%;
          background-color: rgb(99, 99, 99);
          display: grid;
          place-items: center;
          .icon {
            color: white;
            width: 4rem;
            height: 4rem;
          }
          opacity: 0.4;
          &:hover {
            cursor: pointer;
            opacity: 1;
          }
        }
        &-rightButton {
          position: absolute;
          right: 1rem;
          top: 50%;
          transform: translateY(-50%);
          height: 4.5rem;
          width: 4.5rem;
          border-radius: 50%;
          background-color: rgb(99, 99, 99);
          display: grid;
          place-items: center;
          .icon {
            color: white;
            width: 4rem;
            height: 4rem;
          }
          opacity: 0.4;
          &:hover {
            cursor: pointer;
            opacity: 1;
          }
        }

        &-slides {
          display: flex;
          flex-flow: row;
          gap: 1rem;
          overflow-x: scroll;
          scroll-behavior: smooth;
          -webkit-overflow-scrolling: touch;
          //background-color: black;

          .slider-img {
            height: 20rem;
            width: auto;
            scroll-snap-align: start;
            border-radius: 10px;
            &::selection {
              color: transparent;
              background: transparent;
            }
            &:hover {
              cursor: pointer;
            }
          }
          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }
    // .popular:hover .popular-slider-leftButton,
    // .popular:hover .popular-slider-rightButton {
    //   opacity: 0.5;
    // }

    //unused
    .likedSection {
      //width: 86vw;
      width: 100%;
    }
    .liked {
      width: 100%;
      display: flex;
      flex-flow: wrap;
      overflow: hidden;
      overflow-y: scroll;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
      height: max-content;
      max-height: 55rem;
      padding-right: 10px;
      &-masonry {
        background-color: black;
        columns: 4;
        //gap: 1rem;
        @include respond(tab-land) {
          columns: 3;
        }
        @include respond(tab-port) {
          columns: 2;
        }
      }
      &-img {
        width: 100%;
        margin: 0.5rem 0.5rem;
        border-radius: 1rem;
      }
      &::-webkit-scrollbar {
        width: 7px;
      }
      &::-webkit-scrollbar-thumb {
        background: #525252;
        border-radius: 5px;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
    }
    .likedSection:hover .liked::-webkit-scrollbar-thumb {
      background: #6ecf86;
    }

    //used
    .LikedSection {
      //width: 86vw;
      width: 100%;
      .Liked {
        margin-top: 1rem;
        width: 100%;
        height: max-content;
        columns: 4;
        gap: 1rem;
        @include respond(tab-land) {
          columns: 3;
        }
        @include respond(tab-port) {
          columns: 2;
        }
        .LikedImage {
          background-color: black;
          position: relative;
          border-radius: 10px;
          overflow: hidden;
          margin-bottom: 1rem;
          .image {
            width: 100%;
            display: block;
            transition: all 0.25s ease;
          }
          .info {
            position: absolute;
            top: 5%;
            left: 5%;
            display: flex;
            flex-flow: column;
            color: white;
            opacity: 0;
            transition: all 0.25s ease;
            .name {
              font-size: 2rem;
              cursor: pointer;
            }
            .author {
              font-size: 1.6rem;
              cursor: pointer;
            }
          }
          &:hover .info {
            opacity: 1;
            transition: all 0.25s ease;
          }
          &:hover .image {
            opacity: 0.5;
            transform: scale(1.05);
            transition: all 0.25s ease;
          }
        }
      }
    }
  }

  &--gallery {
    width: 90%;
    margin: 8rem auto;
    .GallerySection {
      width: 86vw;
      display: flex;
      flex-flow: column;
      .Gallery {
        margin-top: 1rem;
        width: 100%;
        height: max-content;
        columns: 4;
        gap: 1rem;
        @include respond(tab-land) {
          columns: 3;
        }
        @include respond(tab-port) {
          columns: 2;
        }
        .SingleImage {
          background-color: black;
          position: relative;
          border-radius: 10px;
          overflow: hidden;
          margin-bottom: 1rem;
          .image {
            width: 100%;
            display: block;
            transition: all 0.25s ease;
          }
          .info {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 1rem 1.5rem;
            display: flex;
            flex-flow: column;
            color: white;
            opacity: 0;
            .name {
              font-size: 2.5rem;
              cursor: pointer;
            }
            .others {
              font-size: 1.6rem;
              display: flex;
              column-gap: 1rem;
              flex-flow: row;
              flex-wrap: wrap;
            }
            transition: all 0.25s ease;
          }
          &:hover .info {
            opacity: 1;
            transition: all 0.25s ease;
          }
          &:hover .image {
            opacity: 0.5;
            transform: scale(1.05);
            transition: all 0.25s ease;
          }
        }
      }
      .more {
        margin-top: 2rem;
        width: 100%;
        font-size: 3rem;
        font-weight: bold;
        //text-transform: uppercase;
        color: rgb(136, 136, 136);
        background-color: rgb(53, 53, 53);
        border-radius: 10px;
        padding: 1.2rem 0;
        text-align: center;
        cursor: pointer;
      }
    }
  }
  //for Galler section unused now
  .l {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    height: max-content;
    max-height: 40rem;
    padding-right: 10px;
    &-m {
      background-color: black;
      columns: 4;
      gap: 1rem;
      @include respond(tab-land) {
        columns: 3;
      }
      @include respond(tab-port) {
        columns: 2;
      }

      .gallery-img {
        width: 100%;
        margin: 0.4rem 0;
        border-radius: 1rem;
      }
    }
    &::-webkit-scrollbar {
      width: 7px;
    }
    &::-webkit-scrollbar-thumb {
      background: #525252;
      border-radius: 5px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }
  .userPage--gallery:hover .l::-webkit-scrollbar-thumb {
    background: #6ecf86;
  }

  &--about {
    width: 70%;
    margin: 5rem auto;
    color: rgb(221, 221, 221);
    @include respond(phone) {
      width: 90%;
    }

    hr.solid {
      height: 1px;
      background-color: #bbb;
      margin: 7rem 0;
    }

    &-info {
      letter-spacing: 0.3rem;
      //background-color: rgb(68, 68, 68);
      display: flex;
      gap: 3rem;
      flex-flow: column;
      font-size: 2.5rem;
      &-name {
        font-size: 6rem;
        font-weight: bold;
      }
      &-data {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        column-gap: 4rem;
        .item {
          margin: 0.25rem 0;
          display: flex;
          flex-flow: row;
          flex-wrap: nowrap;
          align-items: center;
          column-gap: 0.8rem;
        }
      }
      &-link {
        text-transform: none;
      }
      &-followMe {
        .subheading {
          font-size: 1.8rem;
          color: rgb(180, 180, 180);
        }
        .items {
          margin-top: 2rem;
          display: flex;
          flex-flow: row;
          flex-wrap: wrap;
          gap: 2rem;
          .item {
            width: 12rem;
            height: 12rem;
            border: 2px solid rgb(221, 221, 221);
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: space-evenly;
            &:hover {
              color: #6ecf86;
              border: 2px solid #6ecf86;
              cursor: pointer;
            }
            .aboutIcon {
              padding-top: 1rem;
              font-size: 4.5rem;
            }
            .aboutText {
              font-size: 1.7rem;
            }
          }
        }
      }
      &-bio {
        margin-top: 1.5rem;
        display: flex;
        flex-flow: column;
        .subheading {
          font-size: 1.8rem;
          color: rgb(180, 180, 180);
        }
        .bio {
          text-transform: none;
          margin-top: 1.5rem;
        }
      }
    }
    &-favourites {
      .item {
        display: block;
        margin-bottom: 2rem;
        .label {
          display: block;
          font-size: 1.8rem;
          color: rgb(180, 180, 180);
        }
        .answer {
          font-size: 2.5rem;
        }
      }
    }
    &-stats {
      .subheading {
        font-size: 3rem;
        font-weight: bold;
      }
      .items {
        margin-top: 1.5rem;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        gap: 2rem;
        @include respond(phone) {
          width: 100%;
          gap: 3%;
          row-gap: 1.4rem;
        }
        .item {
          width: 15rem;
          height: 15rem;
          border: 2px solid white;
          position: relative;
          text-align: center;
          @include respond(phone) {
            width: 28vw;
            height: 28vw;
          }
          .label {
            display: block;
            font-size: 1.6rem;
            margin-top: 1rem;
          }
          .count {
            font-size: 3.5rem;
            font-weight: bold;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
    &-following {
      .subheading {
        font-size: 3rem;
        font-weight: bold;
      }
      .slider {
        background-color: black;
        height: min-content;
        max-height: 22rem;
        overflow: hidden;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        overflow-y: scroll;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        justify-content: left;
        .item {
          width: 12vw;
          height: 5rem;
          border-radius: 5px;
          background-color: rgb(49, 48, 48);
          color: white;
          margin: 1rem 1rem;
          display: flex;
          flex-flow: row;
          @include respond(tab-land) {
            width: 18.5rem;
          }
          .img {
            width: 4rem;
            height: 4rem;
            margin: 0.5rem 0.5rem;
            //padding-left: 0.5rem;
            background-size: cover;
            background-position-x: center;
            background-position-y: center;
          }
          .username {
            padding-left: 1rem;
            font-size: 1.5rem;
            align-self: center;
          }
        }
        &::-webkit-scrollbar {
          width: 7px;
        }
        &::-webkit-scrollbar-thumb {
          background: #3e3f3e;
          border-radius: 5px;
        }
        &::-webkit-scrollbar-track {
          background: transparent;
        }
        // &:hover ::-webkit-scrollbar-thumb {
        //   background: #6ecf86;
        // }
      }

      &:hover .slider::-webkit-scrollbar-thumb {
        background: #6ecf86;
      }
    }
    &-followers {
      .subheading {
        font-size: 3rem;
        font-weight: bold;
      }
      .items {
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        row-gap: 1rem;
        column-gap: 1%;
        @include respond(medium-desk) {
          column-gap: 1.5%;
        }
        @include respond(tab-port) {
          column-gap: 2%;
        }
        .item {
          width: 19%;
          height: 5.5rem;
          border-radius: 10px;
          background-color: rgb(53, 53, 53);
          // display: flex;
          // flex-flow: row;
          display: grid;
          grid-template-columns: min-content 1fr;
          @include respond(medium-desk) {
            width: 23%;
          }
          @include respond(tab-port) {
            width: 32%;
          }
          @include respond(phone) {
            width: 49%;
          }
          .img {
            width: 4.5rem;
            height: 4.5rem;
            margin: 0.5rem 0.5rem;
            background-size: cover;
            background-position-x: center;
            background-position-y: center;
            border: 1px solid rgb(90, 90, 90);
          }
          .username {
            padding-left: 1rem;
            font-size: 1.6rem;
            letter-spacing: 0.25rem;
            align-self: center;
          }
        }
      }
      .showMore {
        cursor: pointer;
        text-transform: uppercase;
        color: rgb(136, 136, 136);
        background-color: rgb(53, 53, 53);
        font-size: 2rem;
        font-weight: bold;
        height: 5rem;
        width: 100%;
        border-radius: 5px;
        display: grid;
        place-items: center;
      }
    }
  }
}
