.search {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 60%;
  transform: translateX(-50%);
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &-icon {
    color: white;
    width: 2rem;
    height: 2rem;
  }
  &-text {
    font-size: 1.4rem;
    font-weight: 300;
    color: white;
  }
}

.liveSearch {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  //   width: 70%;
  width: 70vw;
  transform: translateX(-50%);
  &-searchForm {
    width: 70vw;
    height: 80%;
    position: relative;
    &--input {
      position: absolute;
      top: 0.5rem;
      width: 100%;
      height: 100%;
      font-size: 1.4rem;
      font-family: inherit;
      letter-spacing: 0.4rem;
      color: gray;
      padding: 0 1.4rem;
      //padding-top: 0.6rem;
      background-color: rgb(44, 44, 44);
      border: none;
      border-radius: 5px;
      //width: 30vw;
      display: block;
      transition: all 0.4s;

      &::-webkit-input-placeholder {
        color: gray;
      }

      &:focus {
        outline: none;
        //border-bottom: 2px solid #6ecf86;
      }
    }
  }

  &-searchResults2 {
    border-radius: 5px;
    background-color: rgb(44, 44, 44);
    margin-top: 2rem;
    width: 70vw;
    overflow: hidden;
    &-links {
      width: 70vw;
      display: flex;
      flex-flow: row;
      flex-wrap: nowrap;
      font-size: 1.6rem;
      align-items: center;
      justify-content: space-around;
      //border-bottom: 2px solid rgb(70, 70, 70);
      .link {
        margin-right: 1rem;
        color: gray;
        padding: 0.5rem 0;
        transition: all 0.5s ease;
      }
      .current {
        color: #6ecf86;
        transition: all 0.5s ease;
      }
    }
    &-carousel {
      width: 70vw;
      display: flex;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
      transform: rotateX(180deg);

      &--postSection {
        transform: rotateX(180deg);
        scroll-snap-align: start;
        flex-shrink: 0;
        width: 70vw;
        height: 300px;
        @include respond(phone-land) {
          height: 240px;
        }

        display: flex;
        flex-flow: column;
        overflow: hidden;
        overflow-y: scroll;
        font-size: 2rem;
        .item {
          text-align: start;
          height: max-content;
          min-height: 5.5rem;
          color: gray;
          background-color: rgb(44, 44, 44);
          align-self: center;
          padding-top: 1.5rem;
          padding-left: 1.5rem;
          letter-spacing: 0.3rem;
          &:nth-child(even) {
            background: rgb(59, 59, 59);
          }
          &:active {
            color: #6ecf86;
          }
        }
      }
      &--authorSection {
        transform: rotateX(180deg);
        scroll-snap-align: start;
        flex-shrink: 0;
        width: 70vw;
        height: 300px;

        @include respond(phone-land) {
          height: 240px;
        }
        display: flex;
        flex-flow: column;
        overflow: hidden;
        overflow-y: scroll;
        font-size: 2rem;
        .item {
          text-align: start;
          height: 5.5rem;
          color: gray;
          background-color: rgb(59, 59, 59);
          align-self: center;
          padding-top: 1.5rem;
          padding-left: 1.5rem;
          letter-spacing: 0.3rem;
          &:nth-child(even) {
            background: rgb(54, 54, 54);
          }
          &:active {
            color: #6ecf86;
          }
        }
      }
      &--tagSection {
        transform: rotateX(180deg);
        scroll-snap-align: start;
        flex-shrink: 0;
        width: 70vw;
        height: 300px;
        @include respond(phone-land) {
          height: 240px;
        }
        font-size: 2rem;
        margin: 1rem 0;
        .tagList {
          list-style-type: none;
          height: max-content;
          max-height: 300px;
          width: 100%;
          overflow: hidden;
          overflow-y: scroll;
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;
          padding-left: 2rem;
          margin-bottom: 2rem;
          .item {
            background-color: rgb(24, 24, 24);
            border-radius: 1rem;
            height: 4rem;
            padding: 0.7rem 1.2rem;
            color: gray;
            &:active {
              color: #6ecf86;
            }
          }
        }
      }
      &::-webkit-scrollbar {
        height: 2px;
        background: rgb(70, 70, 70);
      }
      &::-webkit-scrollbar-thumb {
        height: 2px;
        background: #6ecf86;
      }
      //   &::-webkit-scrollbar-track {
      //     //background: red;
      //   }

      .notFound {
        font-size: 4rem;
        color: #6ecf86;
        margin-top: 3rem;
        text-align: center;
      }
    }
  }
}
