.searchForm {
  width: 100%;
  //   height: 85%;
  height: 6.5vh;
  background-color: transparent;
  position: relative;
  &--input {
    position: absolute;
    top: 0.5rem;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    font-family: inherit;
    letter-spacing: 0.4rem;
    color: gray;
    padding: 0 1.4rem;
    //padding-top: 0.6rem;
    background-color: rgb(44, 44, 44);
    border: none;
    border-radius: 1rem;
    //width: 30vw;
    display: block;
    transition: all 0.4s;

    &::-webkit-input-placeholder {
      color: gray;
    }

    &:focus {
      outline: none;
      //border-bottom: 2px solid #6ecf86;
    }
  }
}

.searchResults {
  position: absolute;
  top: 7.7vh;
  width: 100%;
  max-height: 55rem;
  border-radius: 1rem;
  background-color: rgb(44, 44, 44);
  display: grid;
  grid-gap: 5px;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: repeat(7, 1fr);
  overflow: hidden;

  .subHeading {
    font-size: 3rem;
    text-align: start;
    padding-left: 2.5rem;
    padding-top: 1rem;
    color: #6ecf86;
  }

  &--postSection {
    max-height: min-content;
    grid-row: 1 /2;
    grid-column: 1 / 5;
    width: 90%;
    display: flex;
    flex-flow: column;
    letter-spacing: 0.3rem;

    .postList {
      list-style-type: none;
      max-height: 25rem;
      width: 100%;
      overflow: hidden;
      overflow-y: scroll;
      margin-left: 2rem;
      border-radius: 1rem;

      .item {
        text-align: start;
        height: 5.5rem;
        background-color: rgb(59, 59, 59);
        align-self: center;
        padding-top: 1.5rem;
        padding-left: 1.5rem;
        letter-spacing: 0.3rem;

        &:hover {
          cursor: pointer;
          background-color: rgb(43, 43, 43);
          color: #6ecf86;
        }
        &:nth-child(even) {
          background: rgb(54, 54, 54);
          &:hover {
            cursor: pointer;
            background-color: rgb(43, 43, 43);
            color: #6ecf86;
          }
        }
      }

      &::-webkit-scrollbar {
        width: 7px;
      }
      &::-webkit-scrollbar-thumb {
        background: #222222;
        border-radius: 5px;
      }
      &::-webkit-scrollbar-track {
        background: #505050;
      }
    }
    &:hover .postList::-webkit-scrollbar-thumb {
      background: #6ecf86;
    }
    .notFound {
      font-size: 2.5rem;
      color: white;
      text-align: left;
      padding-left: 2.5rem;
    }
  }
  &--authorSection {
    max-height: min-content;
    grid-row: 1 /2;
    grid-column: 5 / -1;
    width: 100%;
    display: flex;
    flex-flow: column;
    letter-spacing: 0.3rem;

    .subHeading {
      padding-left: 1rem;
    }

    .authorList {
      list-style-type: none;
      max-height: 25rem;
      width: 89%;
      overflow: hidden;
      overflow-y: scroll;
      margin-left: 1rem;
      border-radius: 1rem;

      .item {
        text-align: start;
        height: 5.5rem;
        background-color: rgb(59, 59, 59);
        align-self: center;
        padding-top: 1.5rem;
        padding-left: 1.5rem;
        letter-spacing: 0.3rem;

        &:hover {
          cursor: pointer;
          background-color: rgb(43, 43, 43);
          color: #6ecf86;
        }
        &:nth-child(even) {
          background: rgb(54, 54, 54);
          &:hover {
            cursor: pointer;
            background-color: rgb(43, 43, 43);
            color: #6ecf86;
          }
        }
      }

      &::-webkit-scrollbar {
        width: 7px;
      }
      &::-webkit-scrollbar-thumb {
        background: #222222;
        border-radius: 5px;
      }
      &::-webkit-scrollbar-track {
        background: #505050;
      }
    }
    &:hover .authorList::-webkit-scrollbar-thumb {
      background: #6ecf86;
    }
    .notFound {
      font-size: 2.5rem;
      color: white;
      text-align: left;
      padding-left: 1rem;
    }
  }

  /*&--authorList {
    list-style-type: none;
    max-height: 25rem;
    grid-row: 1 /2;
    grid-column: 5 / -1;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-thumb {
      background: #3e3f3e;
      border-radius: 5px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }*/
  &--tagSection {
    max-height: 25rem;
    grid-row: 2 /3;
    grid-column: 1 / -1;
    width: 100%;
    display: flex;
    flex-flow: column;
    letter-spacing: 0.3rem;
    margin-top: 3rem;

    .tagList {
      list-style-type: none;
      max-height: 12rem;
      width: 97%;
      overflow: hidden;
      overflow-y: scroll;
      display: flex;
      flex-wrap: wrap;
      padding-left: 2rem;
      margin-bottom: 2rem;

      .item {
        background-color: rgb(24, 24, 24);
        border-radius: 1rem;
        height: 4rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        padding: 0.7rem 1.2rem;
        &:hover {
          cursor: pointer;
          color: #6ecf86;
        }
      }

      &::-webkit-scrollbar {
        width: 7px;
      }
      &::-webkit-scrollbar-thumb {
        //background: #505050;
        background: #222222;
        border-radius: 5px;
      }
      &::-webkit-scrollbar-track {
        //background: transparent;
        background: #505050;
      }
    }
    &:hover .tagList::-webkit-scrollbar-thumb {
      background: #6ecf86;
    }
    .notFound {
      font-size: 2.5rem;
      color: white;
      text-align: left;
      padding-left: 2.5rem;
      margin-bottom: 2.5rem;
    }
  }
}
