*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
} /*Removing every default margin or padding*/

html {
  font-size: 62.5%; /*62.5% of 16px is 10px*/
  //therfore 1rem = 10px

  @include respond(tab-land) {
    font-size: 56.25%; //1rem=9px
  }
  @include respond(tab-port) {
    font-size: 50%; //1rem=8px
  }
  @include respond(big-desk) {
    font-size: 75%; //1rem=12px
  }
}

body {
  box-sizing: border-box;
  text-transform: capitalize;
  //overflow: hidden;

  @include respond(tab-port) {
    padding: 0;
  }

  &::-webkit-scrollbar {
    width: 0.7rem;
  }
  &::-webkit-scrollbar-track {
    background: rgb(35, 34, 44);
  }
  &::-webkit-scrollbar-thumb {
    background: #6ecf86;
    border-radius: 2px;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}

a {
  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
    color: black;
  }
}
/*
body::-webkit-scrollbar {
    width: 0.5rem;
}
body::-webkit-scrollbar-track {
    background: black;
}
body::-webkit-scrollbar-track {
    background: black;
}*/
