/*
0-600 phone
600-900 tablet portrait
900-1200 tablet landscape
1200-1800 normal styles
1800 big desktops

breakpoint argument choices:
- phone--600px--37.5em
- tab-port--900px--56.25em
- tab-land--1200px--75em
- big-desk--1800px--112.5em
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/*Removing every default margin or padding*/
html {
  font-size: 62.5%;
  /*62.5% of 16px is 10px*/ }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  text-transform: capitalize;
  background-color: black; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }
  body::-webkit-scrollbar {
    width: 0.7rem; }
  body::-webkit-scrollbar-track {
    background: #23222c; }
  body::-webkit-scrollbar-thumb {
    background: #6ecf86;
    border-radius: 2px; }

::selection {
  background-color: #55c57a;
  color: #fff; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: white; }

/*
body::-webkit-scrollbar {
    width: 0.5rem;
}
body::-webkit-scrollbar-track {
    background: black;
}
body::-webkit-scrollbar-track {
    background: black;
}*/
body {
  font-family: "Nunito", sans-serif;
  font-weight: 400; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-left-small {
  margin-left: 2rem !important; }

.u-margin-right-small {
  margin-right: 2rem !important; }

.u-padding-X-small {
  padding-left: 2rem !important;
  padding-right: 2rem !important; }

.explore {
  grid-column: 3 / -1;
  grid-row: 3 / 4;
  display: grid;
  grid-template-rows: 1fr min-content;
  margin: auto;
  width: 95%;
  padding-top: 5rem; }

.exploreGrid {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: min-content;
  grid-gap: 4px; }
  @media only screen and (max-width: 75em) {
    .exploreGrid {
      grid-template-columns: repeat(4, 1fr); } }
  @media only screen and (max-width: 37.5em) {
    .exploreGrid {
      grid-template-columns: repeat(2, 1fr); } }
  .exploreGrid .grid-item--exploreCard {
    width: 100%;
    position: relative;
    border-radius: 1rem;
    overflow: hidden; }
    .exploreGrid .grid-item--exploreCard-img {
      width: 100%;
      transition: all 0.2s ease-in;
      border-radius: 0.5rem;
      opacity: 0.7; }
    .exploreGrid .grid-item--exploreCard-img-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .exploreGrid .grid-item--exploreCard-title {
      color: white;
      font-size: 2rem;
      opacity: 1;
      z-index: 1;
      transition: all 0.2s ease-in;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
    .exploreGrid .grid-item--exploreCard:hover .grid-item--exploreCard-img {
      transform: scale(1.1); }
    .exploreGrid .grid-item--exploreCard:hover {
      cursor: pointer; }

.main {
  background-color: black;
  grid-column: 3 / -1;
  grid-row: 4 / -1;
  padding-top: 5rem;
  margin: auto;
  width: 95%;
  display: grid;
  grid-template-rows: 1fr min-content; }

.subHeading {
  color: white;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem; }

.grid-item {
  margin-bottom: 7px;
  width: calc(100% - 10px); }
  .grid-item--card {
    width: 100%;
    position: relative;
    border-radius: 1rem;
    overflow: hidden; }
    .grid-item--card-img {
      width: 100%;
      transition: all 0.2s ease-in;
      border-radius: 1rem; }
    .grid-item--card-title {
      color: white;
      font-size: 2.5rem;
      z-index: 1;
      transition: all 0.2s ease-in; }
      .grid-item--card-title:hover {
        text-decoration: none;
        color: white;
        font-size: 2.6rem; }
    .grid-item--card-author {
      color: white;
      font-size: 2rem;
      z-index: 1;
      transition: all 0.2s ease-in; }
      .grid-item--card-author:hover {
        text-decoration: none;
        color: white;
        font-size: 2.1rem; }
    .grid-item--card-img-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-rows: repeat(2, 1fr); }
    .grid-item--card-textualInfo {
      display: grid;
      grid-template-rows: max-content max-content;
      opacity: 0;
      padding-left: 2rem;
      padding-top: 1rem; }
    .grid-item--card-icons {
      padding-left: 2rem;
      padding-bottom: 2rem;
      color: white;
      display: grid;
      grid-template-columns: max-content max-content;
      align-items: end;
      grid-gap: 2rem;
      opacity: 0; }
      .grid-item--card-icons-likes {
        display: grid;
        grid-template-columns: 1fr 1fr; }
        .grid-item--card-icons-likes-count {
          font-size: 2rem;
          justify-self: center; }
        .grid-item--card-icons-likes-icon {
          align-self: center; }
          .grid-item--card-icons-likes-icon:hover {
            color: red;
            cursor: pointer; }
      .grid-item--card-icons-comments {
        display: grid;
        grid-template-columns: 1fr 1fr; }
        .grid-item--card-icons-comments-count {
          font-size: 2rem;
          justify-self: center; }
        .grid-item--card-icons-comments-icon {
          align-self: end; }
          .grid-item--card-icons-comments-icon:hover {
            color: #73c28a;
            cursor: pointer; }
    .grid-item--card:hover .grid-item--card-textualInfo {
      opacity: 1; }
    .grid-item--card:hover .grid-item--card-img {
      opacity: 0.6;
      transform: scale(1.04); }
    .grid-item--card:hover .grid-item--card-icons {
      opacity: 1; }

.sideNav {
  background-color: black;
  grid-column: sideNav-start / sideNav-end;
  grid-row: 1 / -1;
  display: grid;
  grid-template-rows: 7.5vh repeat(8, 8vh);
  align-items: stretch;
  justify-items: stretch;
  text-align: center;
  color: white;
  z-index: 11; }
  .sideNav--ham {
    position: sticky;
    top: 0;
    z-index: 100; }
    .sideNav--ham span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
    .sideNav--ham:hover {
      color: #6ecf86;
      cursor: pointer; }
  .sideNav--1 {
    position: sticky;
    top: 7.5vh; }
    .sideNav--1 span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
    .sideNav--1:hover {
      color: #6ecf86;
      cursor: pointer;
      background-color: #424242; }
  .sideNav--2 {
    position: sticky;
    top: 15.5vh; }
    .sideNav--2 span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
    .sideNav--2:hover {
      color: #6ecf86;
      cursor: pointer;
      background-color: #424242; }
  .sideNav--3 {
    position: sticky;
    top: 23.5vh; }
    .sideNav--3 span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
    .sideNav--3:hover {
      color: #6ecf86;
      cursor: pointer;
      background-color: #424242; }
  .sideNav--4 {
    position: sticky;
    top: 31.5vh; }
    .sideNav--4 span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
    .sideNav--4:hover {
      color: #6ecf86;
      cursor: pointer;
      background-color: #424242; }
  .sideNav--5 {
    position: sticky;
    top: 39.5vh; }
    .sideNav--5 span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
    .sideNav--5:hover {
      color: #6ecf86;
      cursor: pointer;
      background-color: #424242; }
  .sideNav--6 {
    position: sticky;
    top: 47.5vh; }
    .sideNav--6 span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
    .sideNav--6:hover {
      color: #6ecf86;
      cursor: pointer;
      background-color: #424242; }
  .sideNav--7 {
    position: sticky;
    top: 55.5vh; }
    .sideNav--7 span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
    .sideNav--7:hover {
      color: #6ecf86;
      cursor: pointer;
      background-color: #424242; }

.sideNav-expansion {
  grid-row: 2 / -1;
  grid-column: 1 / 5;
  width: 100%;
  font-size: 1.8rem;
  color: white;
  background-color: black;
  display: grid;
  grid-template-rows: repeat(8, 8vh);
  transform: translate(-100%);
  letter-spacing: 0.6rem;
  font-weight: 700;
  transition: 0.3s ease;
  z-index: 10; }
  .sideNav-expansion--1 {
    position: sticky;
    top: 7.5vh; }
    .sideNav-expansion--1-title {
      position: absolute;
      left: 7.5rem;
      top: 50%;
      font-size: 1.6rem;
      transform: translateY(-50%); }
    .sideNav-expansion--1:hover {
      cursor: pointer;
      background-color: #424242; }
  .sideNav-expansion--2 {
    position: sticky;
    top: 15.5vh; }
    .sideNav-expansion--2-title {
      position: absolute;
      left: 7.5rem;
      top: 50%;
      font-size: 1.6rem;
      transform: translateY(-50%); }
    .sideNav-expansion--2:hover {
      cursor: pointer;
      background-color: #424242; }
  .sideNav-expansion--3 {
    position: sticky;
    top: 23.5vh; }
    .sideNav-expansion--3-title {
      position: absolute;
      left: 7.5rem;
      top: 50%;
      font-size: 1.6rem;
      transform: translateY(-50%); }
    .sideNav-expansion--3:hover {
      cursor: pointer;
      background-color: #424242; }
  .sideNav-expansion--4 {
    position: sticky;
    top: 31.5vh; }
    .sideNav-expansion--4-title {
      position: absolute;
      left: 7.5rem;
      top: 50%;
      font-size: 1.6rem;
      transform: translateY(-50%); }
    .sideNav-expansion--4:hover {
      cursor: pointer;
      background-color: #424242; }
  .sideNav-expansion--5 {
    position: sticky;
    top: 39.5vh; }
    .sideNav-expansion--5-title {
      position: absolute;
      left: 7.5rem;
      top: 50%;
      font-size: 1.6rem;
      transform: translateY(-50%); }
    .sideNav-expansion--5:hover {
      cursor: pointer;
      background-color: #424242; }
  .sideNav-expansion--6 {
    position: sticky;
    top: 47.5vh; }
    .sideNav-expansion--6-title {
      position: absolute;
      left: 7.5rem;
      top: 50%;
      font-size: 1.6rem;
      transform: translateY(-50%); }
    .sideNav-expansion--6:hover {
      cursor: pointer;
      background-color: #424242; }
  .sideNav-expansion--7 {
    position: sticky;
    top: 55.5vh; }
    .sideNav-expansion--7-title {
      position: absolute;
      left: 7.5rem;
      top: 50%;
      font-size: 1.6rem;
      transform: translateY(-50%); }
    .sideNav-expansion--7:hover {
      cursor: pointer;
      background-color: #424242; }

.sideNavIcon-hover {
  color: #6ecf86;
  cursor: pointer;
  background-color: #424242; }

.sideNavTitle-hover {
  color: #fff;
  cursor: pointer;
  background-color: #424242; }

.expanded {
  transform: translate(0); }

.current::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translateY(-50%);
  height: 100%;
  width: 3px;
  background-color: red; }

.sideNavTopic {
  grid-column: 3 / -1;
  grid-row: 2 / 3;
  position: sticky;
  top: 7.5vh;
  z-index: 9;
  color: white;
  background-color: rgba(23, 28, 33, 0.95); }
  .sideNavTopic-container {
    margin: auto;
    width: 95%;
    display: grid;
    grid-template-columns: 30% repeat(12, 1fr); }
  .sideNavTopic--title {
    font-size: 2.5rem;
    font-weight: 500;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }

.topNav {
  background-color: black;
  grid-column: 3 / -1;
  grid-row: 1 / 2;
  position: sticky;
  top: 0;
  z-index: 20;
  display: grid;
  grid-template-columns: repeat(18, 1fr) 2px 2fr;
  align-items: stretch;
  justify-items: stretch;
  text-align: center;
  color: white;
  font-size: 2rem; }
  .topNav--logo {
    grid-column: 1 / 2;
    background-color: black; }
    .topNav--logo span {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%); }
  .topNav--search {
    position: relative;
    grid-column: 9 / 13;
    display: grid;
    grid-template-columns: 3rem repeat(5, 1fr);
    align-items: stretch;
    justify-items: stretch;
    text-align: left; }
    .topNav--search-icon {
      grid-column: 1 / 2;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%); }
    .topNav--search-text {
      grid-column: 2 / -1;
      font-size: 1.4rem;
      font-weight: 300;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%); }
  .topNav--chat {
    position: relative;
    grid-column: 16 / 17;
    background-color: black; }
    .topNav--chat span {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%); }
      .topNav--chat span::after {
        content: "";
        display: block;
        position: absolute;
        top: 5.2vh;
        left: 50%;
        transform: translateX(-50%);
        background-color: red;
        height: 3px;
        width: 0%;
        opacity: 0;
        transition: all 0.3s ease;
        z-index: 20; }
    .topNav--chat:hover span::after {
      width: 150%;
      opacity: 1; }
    .topNav--chat:hover {
      cursor: pointer; }
    .topNav--chat-dropdown {
      visibility: hidden;
      position: absolute;
      top: 106%;
      right: 0;
      width: 30rem;
      background-color: #e9e5e5;
      display: flex;
      flex-flow: column; }
    .topNav--chat:hover .topNav--chat-dropdown {
      visibility: visible; }
  .topNav--notification {
    position: relative;
    grid-column: 17 / 18;
    background-color: black; }
    .topNav--notification span {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%); }
      .topNav--notification span::after {
        content: "";
        display: block;
        position: absolute;
        top: 5.2vh;
        left: 50%;
        transform: translateX(-50%);
        background-color: red;
        height: 3px;
        width: 0%;
        opacity: 0;
        transition: all 0.3s ease;
        z-index: 20; }
    .topNav--notification:hover span::after {
      width: 150%;
      opacity: 1; }
    .topNav--notification:hover {
      cursor: pointer; }
    .topNav--notification-dropdown {
      visibility: hidden;
      position: absolute;
      top: 106%;
      right: 0;
      width: 30rem;
      background-color: #e9e5e5;
      display: flex;
      flex-flow: column;
      align-items: flex-start; }
      .topNav--notification-dropdown .title {
        font-size: 2.5rem;
        font-weight: 700;
        align-self: stretch;
        padding: 1.5rem 1.5rem;
        border-bottom: 1px solid #444040;
        color: #252424; }
      .topNav--notification-dropdown .notification {
        padding: 1rem 3rem;
        align-self: stretch;
        text-align: left;
        border-bottom: 1px solid #444040;
        color: #444040; }
      .topNav--notification-dropdown .all {
        font-size: 2.5rem;
        align-self: stretch;
        padding: 1.5rem 1.5rem;
        border-top: 1px solid #444040;
        color: #3a3a3a; }
    .topNav--notification:hover .topNav--notification-dropdown {
      visibility: visible; }
  .topNav--account {
    position: relative;
    grid-column: 18 / 19;
    background-color: black; }
    .topNav--account span {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%); }
      .topNav--account span::after {
        content: "";
        display: block;
        position: absolute;
        top: 5.2vh;
        left: 50%;
        transform: translateX(-50%);
        background-color: red;
        height: 3px;
        width: 0%;
        opacity: 0;
        transition: all 0.3s ease;
        z-index: 20; }
    .topNav--account:hover span::after {
      width: 150%;
      opacity: 1; }
    .topNav--account:hover {
      cursor: pointer; }
    .topNav--account-dropdown {
      visibility: hidden;
      position: absolute;
      top: 106%;
      right: 0%;
      width: 30rem;
      background-color: #e9e5e5;
      display: flex;
      flex-flow: column;
      align-items: flex-start; }
      .topNav--account-dropdown .accountName {
        font-size: 3rem;
        font-weight: 700;
        padding: 1.5rem 3rem;
        color: #72c272; }
      .topNav--account-dropdown .account-settings {
        padding: 1rem 3rem;
        align-self: stretch;
        text-align: left; }
        .topNav--account-dropdown .account-settings:hover {
          color: #72c272;
          background-color: white; }
    .topNav--account:hover .topNav--account-dropdown {
      visibility: visible; }
  .topNav--separator {
    grid-column: 19 / 20; }
    .topNav--separator span {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 2px;
      height: 5vh;
      background-color: #424242; }
  .topNav--submit {
    grid-column: 20 / -1;
    background-color: black;
    cursor: pointer; }
    .topNav--submit span {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      font-weight: 700;
      font-size: 1.6rem;
      color: #6ecf86; }

.Container {
  background-color: black;
  display: grid;
  grid-template-rows: 7.5vh 8vh max-content max-content;
  grid-template-columns: 0rem [sideNav-start] 7rem [sideNav-end] repeat(12, [col-start] 1fr [col-end]); }
